src/java/META-INF/asistencia.asmx.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/encoding/client" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/transport/client">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="registro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="llave_poliza" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="segundo_nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primer_apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="segundo_apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono_celular" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_vigencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_nacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial_suc_ase_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial_suc_cli_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial_prm_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial_contrato_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial_emp_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registroResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="excluir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="llave_poliza" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial_suc_cli_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serial_prm_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="excluirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="excluirResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="registroSoapIn">
    <wsdl:part name="parameters" element="tns:registro" />
  </wsdl:message>
  <wsdl:message name="registroSoapOut">
    <wsdl:part name="parameters" element="tns:registroResponse" />
  </wsdl:message>
  <wsdl:message name="excluirSoapIn">
    <wsdl:part name="parameters" element="tns:excluir" />
  </wsdl:message>
  <wsdl:message name="excluirSoapOut">
    <wsdl:part name="parameters" element="tns:excluirResponse" />
  </wsdl:message>
  <wsdl:portType name="asistenciaSoap">
    <wsdl:operation name="registro">
      <wsdl:input message="tns:registroSoapIn" />
      <wsdl:output message="tns:registroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="excluir">
      <wsdl:input message="tns:excluirSoapIn" />
      <wsdl:output message="tns:excluirSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="asistenciaSoap" type="tns:asistenciaSoap">
    <wsp:PolicyReference URI="#asistenciaSoapPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registro">
      <soap:operation soapAction="http://tempuri.org/registro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluir">
      <soap:operation soapAction="http://tempuri.org/excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="asistenciaSoap12" type="tns:asistenciaSoap">
    <wsp:PolicyReference URI="#asistenciaSoap12Policy"/>
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registro">
      <soap12:operation soapAction="http://tempuri.org/registro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excluir">
      <soap12:operation soapAction="http://tempuri.org/excluir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="asistencia">
    <wsdl:port name="asistenciaSoap" binding="tns:asistenciaSoap">
      <soap:address location="http://www.e-dentalsys.com/app/ws/asistencia.asmx" />
    </wsdl:port>
    <wsdl:port name="asistenciaSoap12" binding="tns:asistenciaSoap12">
      <soap12:address location="http://www.e-dentalsys.com/app/ws/asistencia.asmx" />
    </wsdl:port>
  </wsdl:service>
  <wsp:Policy wsu:Id="asistenciaSoapPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <fi:AutomaticallySelectOptimalEncoding/>
        <tcp:AutomaticallySelectOptimalTransport/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="asistenciaSoap12Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <fi:AutomaticallySelectOptimalEncoding/>
        <tcp:AutomaticallySelectOptimalTransport/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</wsdl:definitions>